# Virtual env
instabot/**

# Pycharm
.idea/*

# Cache
**/__pycache__/
**/__init__.pyc

# TinyDB
quotes_database.json
user_database.json

# Secret Information
.env

# VS Code
/.vscode/**

# Log File
app.log

# Image Path
post.png

# Mac
.DS_Store

